*{
    margin: 0; 
    padding: 0;
}
 .content{
   width: 100;
   height: 50;
   background: rgb(213, 228, 10);
background: linear-gradient(0deg, rgb(47, 195, 34) 57%, rgba(239, 253, 45, 0.768) 100%);
text-align: center;
font-size: 25px;
font-family: fantasy;
}
body{
  background-image: url(../img/Fondo_abstracto.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}